/* Definições de estilo para o corpo da página */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Estilo para os cabeçalhos */
h2 {
  color: #333;
  margin-bottom: 20px;
}

h3 {
  margin: 10px 0;
  color: #666;
}

/* Estilo para links */
a {
  color: #007bff;
  text-decoration: none;
}

.fonte-family {
  font-family: "Courier New";
}

.fonte-tamanho {
  font-size: 20px;
}

.fonte-peso {
  font-weight: 600;
}

.fonte-estilo {
  font-style: italic;
}

.texto-cor {
  color: #0088cc;
}

.texto-centralizado {
  text-align: center;
}

.texto-sublinhado {
  text-decoration: underline;
}

.texto-maiusculas {
  text-transform: uppercase;
}

.sombra-texto {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.espacamento-letras {
  letter-spacing: 1.5px;
}

.espacamento-palavras {
  word-spacing: 14px;
}

/* Isto é um comentário simples em CSS */

/*
Este é um comentário
de múltiplas linhas
em CSS
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.destaque {
  background-color: yellow;
  font-weight: bold;
}

.texto-grande {
  font-size: 24px;
}

.texto-azul {
  color: blue;
}

#cabecalho-principal {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Seletor universal */
* {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  border: 2px solid blue;
  padding: 5px;
}

a[href^="http"] {
  color: red;
}

div[data-status="ativo"] {
  background-color: green;
}

/* Especificidade (0,0,0,1) */
h4 {
  color: red;
}

/* Especificidade (0,0,1,0) */
.special-header {
  color: blue;
}

.texto-azul-important {
  color: red !important;
}

.texto-azul {
  color: blue;
}

.paragrafo-absoluto {
  font-size: 16px;
}

.paragrafo-ponto {
  font-size: 12pt;
}

.caixa-polegada {
  width: 2in;
  height: 1in;
  border: 1px solid black;
}

.caixa-centimetro {
  width: 5cm;
  height: 2cm;
  border: 1px solid red;
}

.caixa-milimetro {
  width: 50mm;
  height: 20mm;
  border: 1px solid green;
}

.container {
  font-size: 20px; /* Tamanho da fonte para o elemento pai */
}

.texto-em {
  font-size: 1.5em; /* 150% do tamanho da fonte do elemento pai, ou seja, 30px */
}

html {
  font-size: 16px; /* Define o tamanho da fonte padrão para a página */
}

.texto-rem {
  font-size: 2rem; /* 200% do tamanho da fonte do elemento raiz, ou seja, 32px */
}

.container {
  width: 500px; /* Largura do elemento pai */
}

.caixa-percentual {
  width: 50%; /* 50% da largura do seu elemento pai, ou seja, 250px */
  background-color: teal;
}

.div-vh {
  height: 50vh; /* 50% da altura da viewport */
  background-color: lightblue;
}

.div-vw {
  width: 80vw; /* 80% da largura da viewport */
  background-color: lightcoral;
}

.cor-rgb {
  color: rgb(255, 0, 0); /* Vermelho */
  background-color: rgba(0, 0, 255, 0.5); /* Azul com 50% de opacidade */
}

.cor-hex {
  color: #00ff00; /* Verde */
  background-color: #f00; /* Vermelho */
}

.cor-hsl {
  color: hsl(120, 100%, 25%); /* Verde escuro */
  background-color: hsla(240, 100%, 50%, 0.3); /* Azul com 30% de opacidade */
}

.fundo-imagem {
  background-image: url("img/img4.jpg");
  height: 300px;
  width: 100%;
}

.fundo-tamanho {
  background-image: url("img/img5.jpg");
  background-size: cover; /* Cobrir todo o elemento */
  height: 300px;
  width: 100%;
}

.fundo-posicao {
  background-image: url("img/img6.jpg");
  background-size: cover;
  background-position: center; /* Centralizar a imagem de fundo */
  height: 300px;
  width: 100%;
}

.fundo-repetir {
  background-image: url("img/img4.jpg");
  background-repeat: no-repeat; /* Não repetir a imagem */
  height: 300px;
  width: 100%;
}

.caixa {
  width: 200px; /* Define a largura da caixa */
  height: 100px; /* Define a altura da caixa */
  background-color: lightblue; /* Cor de fundo para visualização */
}

.container {
  width: 50%; /* A largura é definida como 50% da largura do elemento pai */
}

.caixa-relativa {
  width: 80%; /* A largura é 80% da largura do seu elemento pai (.container) */
  height: 50vh; /* A altura é 50% da altura da viewport */
  background-color: lightcoral; /* Cor de fundo para visualização */
}

.espaco-uniforme {
  width: 100px;
  height: 100px;
  background-color: #ffd700; /* Dourado */
  margin: 15px; /* Margem uniforme */
}

.margem-topo {
  margin-top: 10px;
}

.margem-direita {
  margin-right: 20px;
}

.margem-baixo {
  margin-bottom: 30px;
}

.margem-esquerda {
  margin-left: 40px;
}

.margem-colapso {
  margin-bottom: 15px;
}

.margem-negativa {
  margin-top: -30px;
  background-color: #dc143c; /* Carmesim */
}

.borda-simples {
  border-style: solid; /* Estilo da borda */
  border-width: 2px; /* Largura da borda */
  border-color: #0000ff; /* Cor da borda */
}

.borda-individual {
  border-top: 4px dotted red; /* Borda superior pontilhada vermelha */
  border-right: 3px dashed green; /* Borda direita tracejada verde */
  border-bottom: 2px solid blue; /* Borda inferior sólida azul */
  border-left: 5px double orange; /* Borda esquerda dupla laranja */
}

.borda-arredondada {
  border: 3px solid purple; /* Borda sólida roxa */
  border-radius: 10px; /* Raio da borda para arredondar os cantos */
}

.borda-efeito {
  border: 2px solid #8a2be2; /* Borda sólida cor de beterraba */
  border-radius: 50%; /* Cria uma forma circular */
  width: 100px;
  height: 100px;
}

.caixa-padding {
  padding: 20px; /* Aplica um padding uniforme de 20px em todos os lados */
  background-color: #ff6347; /* Tomate */
}

.padding-individual {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 5px;
  background-color: #4682b4; /* Azul aço */
}

.padding-relativo {
  padding: 2em; /* O padding é baseado no tamanho da fonte do elemento */
  background-color: #32cd32; /* Verde lima */
}

.block-elemento {
  display: block;
  background-color: lightblue;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.inline-elemento {
  display: inline;
  background-color: lightcoral;
  color: white;
  padding: 5px;
  margin-right: 5px; /* Aplica margem à direita para separar elementos inline adjacentes */
}

.inline-block-elemento {
  display: inline-block;
  background-color: lightgreen;
  color: white;
  width: 100px; /* Define a largura do elemento */
  height: 100px; /* Define a altura do elemento */
  text-align: center;
  line-height: 100px; /* Centraliza verticalmente o texto */
  margin: 10px; /* Espaçamento entre elementos inline-block adjacentes */
}

.esconder-elemento {
  display: none;
}

.escondido {
  visibility: hidden;
}

.visivel {
  visibility: visible;
}

.elemento-static {
  /* position: static; é o padrão, portanto, geralmente não é necessário declará-lo */
  border: 2px solid blue;
  margin: 5px;
}

.elemento-relativo {
  position: relative;
  top: 10px; /* Desloca o elemento 10px para baixo a partir de sua posição original */
  left: 20px; /* Desloca o elemento 20px para a direita a partir de sua posição original */
  border: 2px solid green;
}

.container-relativo {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: lightblue;
}

.elemento-absoluto {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 50px;
  background-color: coral;
}

.barra-navegacao {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: darkslateblue;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.cabecalho-sticky {
  position: -webkit-sticky; /* Para compatibilidade com o Safari */
  position: sticky;
  top: 50px;
  background-color: darkcyan;
  padding: 10px;
  color: white;
  text-align: center;
}

.index-container {
  position: relative;
}

.fundo {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: red;
  z-index: 1; /* Menor z-index */
}

.frente {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50px;
  top: 50px;
  background-color: lightcyan;
  z-index: 2; /* Maior z-index */
}
